@keyframes slideIn {
  0% {transform: translateY(50%) translateX(-50%); opacity: 0}
  100% {transform: translateY(-50%) translateX(-50%); opacity: 1}
}
@keyframes fadeIn {
  0% { opacity: 0}
  100% { opacity: 1}
}
@keyframes shake {
  0% { transform: translateX(0px); }
  10% { transform: translateX(-5px); }
  30% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  70% { transform: translateX(5px); }
  90% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}
@keyframes changeValue {
  0% { transform: scale(2); }
  100% { transform: scale(1); }
}

.a-slideIn {
  animation: slideIn .4s;
  animation-iteration-count: 1;
}
.a-fadeIn {
  animation: fadeIn .4s;
  animation-iteration-count: 1;
}
.a-shake {
  animation: shake .4s;
  animation-iteration-count: 1;
}
.a-changeValue {
  display: inline-block;
  animation: changeValue .8s;
  animation-iteration-count: 1;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: black;
  color: #FFF;
  user-select: none;
  padding: 0;
  margin: 0;
}
.menu {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;  
  margin-bottom: 1em;
  >* {
    flex-basis: 0;
    min-width: 100px;
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
}
h1 {
  font-size: 3em;
  margin: 0 0 -.25em 0;
  line-height: 1em;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 362px;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  &+.row {
    margin-top: 5px;
  }
}
.tile {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-top: calc(100% - 4px);
  border: 2px solid gray;
  display: inline-flex;
  background-color: #303030;
  &.dk {
    background-color: #202020;
  }
  &[data-move="true"] {
    background: #3f2a70;
  }
  &[data-attack="true"] {
    background: #a3184d;
  }
  &[data-block="true"] {
    background-color: black;
    border-color: black;
  }
}
.unit {
  transition-duration: .35s;
  &[data-color="light"] {
    color: #FFF;
    .piece {
      -webkit-text-stroke: 2px #666;
    }
  }
  &[data-color="dark"] {
    color: #000;
    .piece {
      -webkit-text-stroke: 2px #FFF;
    }
  }
  height: 4em;
  width: 4em;
  border: 2px solid transparent;
  position: absolute;
  top: 0px;
  margin-top: 0px;
  left: 0px;
  margin-left: 0px;
  text-align: center;
  &[data-piece="bishop"] .piece::before {
    content: "\e900";
  }
  &[data-piece="king"] .piece::before {
    content: "\e901";
  }
  &[data-piece="knight"] .piece::before {
    content: "\e902";
  }
  &[data-piece="pawn"] .piece::before {
    content: "\e903";
  }
  &[data-piece="queen"] .piece::before {
    content: "\e904";
  }
  &[data-piece="rook"] .piece::before {
    content: "\e905";
  }
  &[data-sigil="water"] .sigil {
    background-color: fuchsia;
    &::before {
      content: "\e90a";
    }
  }
  &[data-sigil="fire"] .sigil {
    background-color: orange;
    &::before {
      content: "\e90b";
    }
  }
  &[data-sigil="grass"] .sigil {
    background-color: teal;
    &::before {
      content: "\e90c";
    }
  }
  &[data-state="waiting"] {
    opacity: .5;
  }
  .piece {
    font-size: 3em;
    line-height: 1;
    &.dupe {
      position: absolute;
      left: 8px;
      z-index: 2;
      -webkit-text-stroke: 0 !important;
    }
  }
  .hp {
    margin-top: .1em;
    font-size: .8em;
    color: red;
  }
  .sigil {
    position: absolute;
    top: .3em;
    right: .3em;
    z-index: 3;
  }
  .index {
    position: absolute;
    top: .3em;
    left: .3em;
    z-index: 3;
    color: #FFF;
    font-size: .8em;
  }
}
.sigil {
  padding: .2em;
  font-size: .8em;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #FFF;
  color: #FFF;
}
.icon-water {
  background-color: fuchsia;
}
.icon-fire {
  background-color: orange;
}
.icon-grass {
  background-color: teal;
}

.active {
  pointer-events: none;
  height: 68px;
  width: 68px;
  position: absolute;
}

[data-x="1"] {
  left: 0;
}
[data-x="2"] {
  margin-left: 1px;
  left: 20%;
}
[data-x="3"] {
  margin-left: 2px;
  left: 40%;
}
[data-x="4"] {
  margin-left: 3px;
  left: 60%;
}
[data-x="5"] {
  margin-left: 4px;
  left: 80%;
}
[data-y="1"] {
  top: 0;
}
[data-y="2"] {
  margin-top: 1px;
  top: 14.3%;
}
[data-y="3"] {
  margin-top: 2px;
  top: 28.6%;
}
[data-y="4"] {
  margin-top: 3px;
  top: 42.9%;
}
[data-y="5"] {
  margin-top: 4px;
  top: 57.1%;
}
[data-y="6"] {
  margin-top: 5px;
  top: 71.4%;
}
[data-y="7"] {
  margin-top: 6px;
  top: 85.7%;
}
.triangle {
  position: absolute;
  height: 75px;
  width: 0;
  right: 83px;
  .leg {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 62px;
    .sigil {
      z-index: 1;
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    .arrow {
      display: inline-block;
      vertical-align: middle;
      width: 0; 
      height: 0; 
      border-top: .6em solid transparent;
      border-bottom: .6em solid transparent;
      border-left: 3em solid #808080;
      margin-left: -.4em;
      position: relative;
      z-index: 0;
    }
    &:nth-child(2) {
      transform-origin: 0 .5;
      transform: rotateZ(120deg);
      bottom: 37px;
      left: -2px;
    }
    &:nth-child(3) {
      transform-origin: 0 .5;
      transform: rotateZ(-120deg);
      bottom: 20px;
      left: 30px;
    }
  }
}
.controls {
  margin-left: auto;
  margin-right: auto;
  width: 362px;
  position: relative;
  margin-top: 1em;
  // display: flex;
  // justify-content: space-between;
}
.hidden {
  display: none;
}
.rewind {
  text-align: center;
  font-size: 2em;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 4;
}
.panel {
  background: black;
  border: 2px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  width: 362px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  .close {
    text-align: right;
  }
  h2 {
    margin-top: 0;
  }
  .how {
    text-align: left;
  }
}
.version {
  box-sizing: border-box;
  padding: .2em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  color: #333;
  font-size: .8em;
}